:host { 
  display: contents; 
}
.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header {
  flex: initial;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  justify-content: space-between;
}
.home-image {
  flex: initial;
  width: 293px;
  height: 55px;
  object-fit: contain;
}
.home-container01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-text {
  font-size: 16px;
  font-style: normal;
  transition: 0.1s;
  font-family: Lato;
  font-weight: 700;
  line-height: 1.15;
  margin-right: var(--dl-space-space-sixunits);
  text-transform: none;
  text-decoration: none;
}
.home-text:hover {
  cursor: pointer;
}
.home-text01 {
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-family: Lato;
  font-weight: 700;
  line-height: 1.15;
  margin-right: var(--dl-space-space-sixunits);
  text-transform: none;
  text-decoration: none;
}
.home-text01:hover {
  cursor: pointer;
}
.home-text02 {
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-family: Lato;
  font-weight: 700;
  line-height: 1.15;
  margin-right: var(--dl-space-space-sixunits);
  text-transform: none;
  text-decoration: none;
}
.home-text02:hover {
  cursor: pointer;
}
.home-container02 {
  flex: initial;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-body {
  flex: initial;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: space-between;
}
.home-container03 {
  flex: initial;
  width: 100%;
  height: 1354px;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-banner {
  width: 100%;
  height: 798px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text03 {
  font-size: 18px;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
  letter-spacing: 2px;
  text-transform: none;
  text-decoration: none;
}
.home-text04 {
  font-size: 72px;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.home-text05 {
  font-size: 19px;
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.home-text10 {
  font-style: italic;
}
.home-text11 {
  font-style: italic;
}
.home-signup {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-textinput {
  width: 342px;
  font-size: 16px;
  border-color: var(--dl-color-gray-500);
}
.home-button {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-black);
}
.home-button:hover {
  color: var(--dl-color-gray-black);
  background-color: transparent;
}
.home-container04 {
  width: 100%;
  height: 758px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text12 {
  margin-top: 120px;
  text-align: center;
}
.home-gallery-card {
  flex: 0 0 auto;
  width: auto;
  height: 297px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  justify-content: center;
}
.home-gal1 {
  width: 284px;
  height: 297px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.home-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.home-text13 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text14 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.home-gal2 {
  width: 284px;
  height: 297px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.home-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.home-text15 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text16 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.home-gal3 {
  width: 284px;
  height: 297px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.home-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.home-text17 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text18 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.home-rocket-img {
  flex: initial;
  width: 280px;
  height: 100%;
  align-self: stretch;
  object-fit: cover;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.home-body2 {
  flex: initial;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  justify-content: flex-start;
}
.home-image4 {
  flex: initial;
  width: 342px;
  height: 373px;
  align-self: center;
  object-fit: cover;
}
.home-container05 {
  flex: initial;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-steps {
  flex: auto;
  width: 769px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  align-items: center;
  flex-direction: column;
}
.home-text19 {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
}
.home-text20 {
  color: var(--dl-color-gray-700);
  font-size: 16px;
  max-width: 1000px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container06 {
  flex: initial;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-step {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.home-line {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container08 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.home-icon {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.home-line1 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container09 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text23 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text24 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  text-align: center;
}
.home-step1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.home-line2 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container11 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.home-icon02 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.home-line3 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container12 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text27 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text28 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  text-align: center;
}
.home-step2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.home-line4 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container14 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.home-icon04 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.home-line5 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container15 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text29 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text30 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  text-align: center;
}
.home-step3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.home-line6 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container17 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.home-icon06 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.home-line7 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container18 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text33 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text34 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  text-align: center;
}
.home-container19 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-footer {
  flex: initial;
  width: 100%;
  height: auto;
  display: flex;
  max-width: auto;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.home-image5 {
  width: 177px;
  height: 45px;
  object-fit: contain;
}
.home-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon08 {
  width: var(--dl-size-size-small);
  cursor: pointer;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.home-icon10 {
  width: var(--dl-size-size-small);
  cursor: pointer;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.home-icon12 {
  width: var(--dl-size-size-small);
  cursor: pointer;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
@media(max-width: 991px) {
  .home-banner {
    width: 100%;
  }
  .home-gallery-card {
    width: 677px;
  }
  .home-rocket-img {
    width: 100%;
    height: 1293px;
    align-self: center;
  }
  .home-body2 {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .home-image4 {
    align-self: center;
  }
  .home-steps {
    align-self: center;
  }
  .home-text19 {
    text-align: center;
  }
  .home-text20 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-body {
    height: auto;
  }
  .home-container03 {
    flex: initial;
    width: 100%;
    height: auto;
  }
  .home-banner {
    flex: initial;
    width: 100%;
    height: auto;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-gal1 {
    flex-direction: column;
  }
  .home-gal2 {
    flex-direction: column;
  }
  .home-gal3 {
    flex-direction: column;
  }
  .home-rocket-img {
    flex: initial;
    width: 100%;
    height: auto;
  }
  .home-body2 {
    flex: initial;
    height: auto;
  }
  .home-image4 {
    flex: initial;
    width: 100%;
    height: auto;
  }
  .home-container05 {
    flex: initial;
    width: 100%;
    height: auto;
  }
  .home-steps {
    flex: initial;
    width: 100%;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container06 {
    flex: initial;
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .home-step {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-container07 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .home-line1 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-container09 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-text23 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text24 {
    text-align: left;
  }
  .home-step1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-container10 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .home-line2 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-line3 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-container12 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-text27 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text28 {
    text-align: left;
  }
  .home-step2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-container13 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .home-line4 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-line5 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-container15 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-text29 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text30 {
    text-align: left;
  }
  .home-step3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-container16 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .home-line6 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-line7 {
    border-color: transparent;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-container18 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-text33 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text34 {
    text-align: left;
  }
  .home-footer {
    flex: initial;
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    justify-content: flex-end;
  }
  .home-text37 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-header {
    flex: initial;
  }
  .home-container02 {
    width: 100%;
  }
  .home-body {
    width: 100%;
    height: auto;
  }
  .home-container03 {
    flex: initial;
    width: 100%;
    height: 100%;
  }
  .home-banner {
    flex: initial;
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-signup {
    align-items: center;
    flex-direction: column;
  }
  .home-textinput {
    width: 205px;
    height: 29px;
  }
  .home-button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .home-container04 {
    flex: initial;
    height: auto;
    align-self: center;
    align-items: center;
    justify-content: flex-end;
  }
  .home-gallery-card {
    width: 302px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .home-image1 {
    height: 10rem;
  }
  .home-image2 {
    height: 10rem;
  }
  .home-image3 {
    height: 10rem;
  }
  .home-rocket-img {
    flex: initial;
    width: 100%;
    height: 100%;
    z-index: 0;
    align-self: flex-end;
    margin-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .home-body2 {
    width: 100%;
    height: auto;
  }
  .home-image4 {
    flex: initial;
    width: 100%;
    height: auto;
  }
  .home-container05 {
    flex: initial;
    width: 100%;
    height: auto;
  }
  .home-steps {
    flex: initial;
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container06 {
    padding-left: 0px;
  }
  .home-container09 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text23 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-container12 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text27 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-container15 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text29 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-container18 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text33 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-footer {
    flex: initial;
    height: auto;
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-image5 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text37 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
